<div class="search-div">  
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="ProjectID">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ProjectID</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ProjectID}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="ProjectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.ProjectName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="StartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.StartDate | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="EndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.EndDate | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Priority}}</mat-cell>
    </ng-container> 
    <ng-container matColumnDef="NumberOfTasks">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tasks</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.NumberOfTasks}}</mat-cell>
      </ng-container> 
      <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Completed</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Status}}</mat-cell>
        </ng-container> 
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button (click)="onDelete(row.ProjectID)" color="warn"><mat-icon>pause_circle_filled</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>