<div class="search-div">      
  <div class="form-row">
      <div class="form-group col-md-1">
        <label><h6>Project</h6></label>
      </div>
      <div class="form-group col-md-8">
        <input matInput [(ngModel)]="searchKey" placeholder="Choose Project by clicking search button" autocomplete="off" class="form-control" 
        (change)="applyFilter()" readonly>
      </div>        
      <div class="form-group col-md-2">
        <a class="btn btn-sm btn-success text-white" data-target="#searchProjectModal" data-toggle="modal"
          (click)="searchProject()">Search</a>
      </div>
    </div>
<!-- <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
<button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">         
</button>-->    
</div>
<div class="mat-elevation-z8">
<mat-table [dataSource]="listData" matSort>
  <ng-container matColumnDef="TaskID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>TaskID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.TaskID}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ProjectID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ProjectID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ProjectID}}</mat-cell>
      </ng-container>
<ng-container matColumnDef="TaskName">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Task</mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.TaskName}}</mat-cell>
</ng-container>
<ng-container matColumnDef="ParentTask">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Parent</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.ParentTask}}</mat-cell>
  </ng-container>
<ng-container matColumnDef="StartDate">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.StartDate | date: 'dd/MM/yyyy'}}</mat-cell>
</ng-container>
<ng-container matColumnDef="EndDate">
  <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.EndDate | date: 'dd/MM/yyyy'}}</mat-cell>
</ng-container>
<ng-container matColumnDef="Priority">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.Priority}}</mat-cell>
</ng-container> 
<ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef></mat-header-cell>
  <mat-cell *matCellDef="let row">
    <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
    <button mat-icon-button (click)="onDelete(row.TaskID)" color="warn"><mat-icon>pause_circle_filled</mat-icon></button>
  </mat-cell>
</ng-container>
<ng-container matColumnDef="loading">
  <mat-footer-cell *matFooterCellDef colspan="6">
    Loading data...
  </mat-footer-cell>
</ng-container>
<ng-container matColumnDef="noData">
  <mat-footer-cell *matFooterCellDef colspan="6">
    No data.
  </mat-footer-cell>
</ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
<mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

<div class="modal" id="searchProjectModal" data-backdrop="static" tabindex="-1">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class=modal-title>Search Project</h4>
      <button class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
          <input matInput [(ngModel)]="searchProjectKey" placeholder="Search" autocomplete="off" (keyup)="applyProjectFilter()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchProjectKey" (click)="onSearchProjectClear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z6">
        <mat-table [dataSource]="listProjectData">
          <ng-container matColumnDef="ProjectName">
            <mat-header-cell *matHeaderCellDef>Available Projects</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.ProjectName}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="populateProjectValue(row)" data-dismiss="modal">
                <mat-icon>launch</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No data.
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedProjectColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedProjectColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'hide':!(listProjectData!=null && listProjectData.data.length==0)}"></mat-footer-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
</div>



