<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="TaskID" #TaskID="ngModel" [(ngModel)]="service.formData.TaskID">
  <input type="hidden" name="ProjectID" #ProjectID="ngModel" [(ngModel)]="service.formData.ProjectID">
  <input type="hidden" name="UserID" #UserID="ngModel" [(ngModel)]="service.formData.UserID">
  <input type="hidden" name="ParentTaskID" #ParentTaskID="ngModel" [(ngModel)]="service.formData.ParentTaskID">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Project</label>
    </div>
    <div class="form-group col-md-7">
      <input type="text" name="ProjectName" #ProjectName="ngModel" [(ngModel)]="service.formData.ProjectName"
        class="form-control" autocomplete="off" required [disabled]="IsParentTask.checked">
    </div>

    <div class="form-group col-md-3">
      <a class="btn btn-sm btn-success text-white" data-target="#searchTaskProjectModal" data-toggle="modal"
        (click)="searchProject()" [class.disabled]="IsParentTask.checked">Search</a>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Task</label>
    </div>
    <div class="form-group col-md-10">
      <input name="TaskName" #TaskName="ngModel" [(ngModel)]="service.formData.TaskName" class="form-control" required>
      <div class="validation-error" *ngIf="TaskName.invalid && TaskName.touched">This field is required.</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">      
    </div>
    <div class="form-group col-md-1">
      <input type="checkbox" #IsParentTask name="IsParentTask" [(ngModel)]="service.formData.IsParentTask" 
      class="form-control" (change)="OnCheckBoxChange(IsParentTask)">
    </div>
    <div class="form-group col-md-8">
        <label>Parent Task</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Priority</label>
    </div>
    <div class="form-group col-md-10">
      <input type="range" name="Priority" #Priority="ngModel" [(ngModel)]="service.formData.Priority"
        class="form-control" required [disabled]="IsParentTask.checked">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Parent Task</label>
    </div>
    <div class="form-group col-md-7">
      <input type="text" name="ParentTask" #ParentTask="ngModel" [(ngModel)]="service.formData.ParentTask"
        class="form-control" autocomplete="off" [disabled]="IsParentTask.checked">
    </div>

    <div class="form-group col-md-3">
      <a class="btn btn-sm btn-success text-white" data-target="#searchTaskModal" data-toggle="modal"
        (click)="searchTask()" [class.disabled]="IsParentTask.checked">Search</a>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Start Date</label>
      <input type="date" name="StartDate" #StartDate [ngModel]="service.formData.StartDate | date:'yyyy-MM-dd'" 
      (ngModelChange)="OnChangeStartDate($event)" class="form-control" [disabled]="IsParentTask.checked">
    </div>
    <div class="form-group  col-md-6">
      <label>End Date</label>
      <input type="date" id="EndDate" name="EndDate" #EndDate="ngModel" [ngModel]="service.formData.EndDate | date:'yyyy-MM-dd'" 
      (ngModelChange)="service.formData.EndDate = $event"  class="form-control" [min]="minDate | date:'yyyy-MM-dd'" [disabled]="IsParentTask.checked">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>User</label>
    </div>
    <div class="form-group col-md-7">
      <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="service.formData.UserName"
        class="form-control" autocomplete="off" [disabled]="IsParentTask.checked">
    </div>

    <div class="form-group col-md-3">
      <a class="btn btn-sm btn-success text-white" data-target="#searchUserModal" data-toggle="modal"
        (click)="searchUser()" [class.disabled]="IsParentTask.checked">Search</a>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Submit</button>
    </div>
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-secondary btn-lg btn-block" (click)=resetForm(form)>Reset</button>
    </div>
  </div>
</form>



<div class="modal" id="searchTaskProjectModal" data-backdrop="static" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class=modal-title>Search Project</h3>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="search-div">
          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchProjectKey" placeholder="Search" autocomplete="off" (keyup)="applyProjectFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchProjectKey" (click)="onSearchProjectClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z6">
          <mat-table [dataSource]="listProjectData">
            <ng-container matColumnDef="ProjectName">
              <mat-header-cell *matHeaderCellDef>Available Projects</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.ProjectName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="populateProjectValue(row)" data-dismiss="modal">
                  <mat-icon>launch</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
              </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedProjectColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedProjectColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['noData']"
              [ngClass]="{'hide':!(listProjectData!=null && listProjectData.data.length==0)}"></mat-footer-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="searchTaskModal" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class=modal-title>Search Task</h3>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="search-div">
            <mat-form-field class="search-form-field" floatLabel="never">
              <input matInput [(ngModel)]="searchTaskKey" placeholder="Search" autocomplete="off" (keyup)="applyTaskFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchTaskKey" (click)="onSearchTaskClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="mat-elevation-z6">
            <mat-table [dataSource]="listTaskData">
              <ng-container matColumnDef="TaskName">
                <mat-header-cell *matHeaderCellDef>Available Tasks</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.TaskID + ' '+ element.TaskName}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button (click)="populateTaskValue(row)" data-dismiss="modal">
                    <mat-icon>launch</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  No data.
                </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedTaskColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedTaskColumns;"></mat-row>
              <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(listTaskData!=null && listTaskData.data.length==0)}"></mat-footer-row>
            </mat-table>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal" id="searchUserModal" data-backdrop="static" tabindex="-1" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class=modal-title>Search User</h3>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="search-div">
              <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchUserKey" placeholder="Search" autocomplete="off" (keyup)="applyUserFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchUserKey" (click)="onSearchUserClear()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="mat-elevation-z6">
              <mat-table [dataSource]="listUserData">
                <ng-container matColumnDef="FirstName">
                  <mat-header-cell *matHeaderCellDef>Available Users</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.FirstName + ' '+ element.LastName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="populateUserValue(row)" data-dismiss="modal">
                      <mat-icon>launch</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedUserColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedUserColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                  [ngClass]="{'hide':!(listUserData!=null && listUserData.data.length==0)}"></mat-footer-row>
              </mat-table>
            </div>
          </div>
        </div>
      </div>
    </div>